[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pytest = "*"
bs4 = "*"
requests = "*"
pytz = "*"
pygsheets = "*"
jupyter = "*"
matplotlib = "*"
levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.10"
